.button-config {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #6F6F6F;
    border: 1px solid #A3A3A3;
    box-sizing: border-box;
    border-radius: 30px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-config:hover {
    background: rgb(95, 95, 95);
}

.button-config-disable {
    background-color: red;
}

.button-config-disable:hover {
    background-color: rgb(238, 5, 5);
}

.button-config-enable {
    background-color: #FFAA29;
}

.button-config-enable:hover {
    background-color: rgb(247, 148, 0);
}

#play-button {
    background-color: #FFAA29;
}

#play-button:hover {
    background-color: rgb(247, 148, 0);
}

@media only screen and (min-width: 897px) {
    .button-config {
        width: 200px;
        font-size: 24px;
        padding: 15px;
    }

} 