.button-config {
    padding: 10px;
    width: inherit;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #6F6F6F;
    border: 1px solid #A3A3A3;
    box-sizing: border-box;
    border-radius: 30px;
}

#play-button {
    background-color: #FFAA29;
}

@media only screen and (min-width: 897px) {
    .button-config {
        font-size: 26px;
    }

    #play-button {
        margin-top: 60px ;
    }
}