* {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.cardlist {
    /* border:2px solid blue; */
    width: 100%;
}

.cardlistchosen {
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 0 0;
}

p {
 text-align: left;
 background-color: #D9EEDE;
 width: 90%;
}

.cardlistchosen p span {
    align-self:end;
    float:right;
}

button {
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

