* {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.aside {
    /* border: 2px solid red; */
    width: 20%;
    background-color: rgb(70, 28, 167);
    padding: 5px 5px    ;
}

.deck_aside {
    /* border:2px solid black; */
    width: 100%;
    background-color: #BAC3E1;
}

.deck_aside h3 {
    font-size: 1.2rem;
    font-weight: 530;
    /* border: 2px solid green;     */
    margin : 0;
}

.cardlist {
    /* border:2px solid blue; */
    width: 100%;
}

button {
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#player_btn {
    margin-top: 5px;
    background-color: #70F840;
    border: 1px solid #C6F3B0;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 30%;
}

#pw_btn {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:#F28F32;
    border: 2px solid #CFAE38;
    width: 100%;
    height: 30%;
}