.graveyardTitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
}

.historyContainer {
  overflow: auto;
  overflow-x: hidden;
}

.historyCard {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.iaHistoryCard {
  background-color: #F28F32;
}

.playerHistoryCard {
  background-color: #70F840;
}

.historyImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.historyName {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  width: 70%;
  font-size: 8px;
}

@media only screen and (min-width: 897px) {
  .historyImg {
    width: 50px;
    height: 50px;
  }

  .historyName {
    font-size: 12px;
  }

}

@media screen and (max-width: 880px) {

  .graveyardTitle {    
    font-size: 10px;
  }

}