.graveyardsTitle {
  display: flex;
  justify-content: center;
  color: white;
}

.historyContainer {
  overflow: auto;
  overflow-x: hidden;
}

.historyCard {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.iaHistoryCard {
  background-color: #F28F32;
}

.playerHistoryCard {
  background-color: #70F840;
}

.historyImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.historyName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 70%;
}