* {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.aside {
    width: 25%;
    background-color: rgb(70, 28, 167);
    padding: 5px 5px    ;
}

#player_indicator {
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
    background-color: #70F840;
    border: 1px solid #C6F3B0;
    margin-bottom: 1.2em;
    width: 100%;
    height: 30%;
    text-align: center;
}

.deck_aside {
    width: 100%;
    background-color: #BAC3E1;
}

#title_deck_chosen_cards{
    font-size: 1.2em;
    font-weight: 530;
    margin : 0;
    text-align: center;
}

.cardlistdeck {
    width: 100%;
}

#total_power_indicator {
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:#F28F32;
    border: 2px solid #CFAE38;
    width: 100%;
    height: 30%;
    text-align: center;
}