.container-nav {
    display: flex;
    justify-content:  space-between;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    font-family: Press Start 2P;
    margin:0;
    padding: 10px;
    height: 10vh;
}

button[type="button"]:hover {
  cursor: pointer;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFAA29;
    font-size: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.modal .modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: black;
  border-radius: 10px;
  width: 80%;
  height: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .modal-main h2 {
  color: #FFAA29;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  text-align: center;
}

.modal-heroesChosen-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  height: 50vh;
  justify-content: center;
  margin: 20px 0;
}

.modal-heroesChosen-container .card {
  margin: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button-modal-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (min-width: 897px) {
  #title {
    font-size: 25px;
  }

  .modal .modal-main h2 {
    font-size: 25px;
  }
  
}