body {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    background-color: black;
}

.NavRules {
    width: 100vw;
    height: 7vh;
}

.singleCard {
    border: 2px solid rgb(243, 243, 147);
    border-radius: 7px;
    background:no-repeat center/100% url('https://cdn.pixabay.com/photo/2014/10/04/15/29/paper-473630_960_720.jpg');
    width: 30%;
    min-height: 35vw;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.image img {
    display: block;
    border: 1px solid black; 
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    width: 80%;
}

.image {
    width: 100%;
    display: block;
    max-height: 50%;
    display: flex;
    justify-content: center;
}

.explanation {
    font-size: 0.5rem;
    margin: 5px 5% 5% 5%;
    line-height: 1.6;
    text-align: justify;
    font-weight: bold;
}

.RulesCard {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.explanation h3 {
    text-decoration: underline;
    text-align: center;
    line-height: 1.6;
}

@media only screen and (max-width: 600px) {

    .explanation {
        font-size: 0.1rem;
    }

        .singleCard {
        width: 45%;
    }
}

@media only screen and (min-width: 1000px) {

    .explanation {
        font-size: 0.4rem;
    }

}

@media only screen and (min-width: 1200px) {

    .explanation {
        font-size: 0.5rem;
    }

}

@media only screen and (min-width: 1800px) {

    .explanation {
        font-size: 1rem;
    }

}