@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.portrait {
display: none;
}

body {
  font-family: 'Press Start 2P', cursive;
}

@media screen and (min-with: 900px) {
  .music {
    display: none;
  }
}
@media screen and (max-width: 896px) and (orientation: portrait) {

  .App {
    display: none;
  }

  .portrait {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
  } 
  
}
